<launch>

 <!-- Upload capsule collision decompositoin -->
  <param name="collision_decomposition_description" textfile="$(find capsule_collision)/capsule_descriptions/reemc_capsule_params.txt" />

 <!-- Upload extra collision operations -->
  <rosparam command="load" file="$(find capsule_collision)/capsule_descriptions/reemc_extra_collision_descriptions.yaml" />

 <!-- Upload capsule collision operations -->
  <param name="capsule_collision_operations" textfile="$(find reemc_wbc_tutorials)/config/capsule_descriptions/reemc_collision_operations_no_head.xml" />

</launch>

