<launch>
  <node name="right_wrist_ft_sensor" pkg="rqt_plot" type="rqt_plot" args="-b 10 -t Right-F/T /right_wrist_ft/wrench/force/x,/right_wrist_ft/wrench/force/y,/right_wrist_ft/wrench/force/z /right_wrist_ft/wrench/torque/x,/right_wrist_ft/wrench/torque/y,/right_wrist_ft/wrench/torque/z" />
</launch>
